DATABASE_USERNAME=meuusuario #trocar pelo seu usuario
DATABASE_PASSWORD=minhasenha # trocar pela sua senha
DATABASE_HOST=172.17.0.3 # IP address do banco de dados (mesmo que seja no docker)
DATABASE_PORT=5432 # trocar pela sua PORT do banco de dados (ou manter, caso seja a mesma)
JWT_SECRET=mysecretKey